<form name="$ctrl.userForm" novalidate ng-submit="$ctrl.addNewUser($ctrl.newUser)">
  <table class="users-table">
    <tr>
      <th>Name:</th>
      <th>Phone:</th>
      <th>Date of birth:</th>
    </tr>
    <tr ng-repeat="user in $ctrl.users">
      <td>
        <span ng-if="!user.isEdited">{{user.name}}</span>
        <input type="text" ng-if="user.isEdited" required ng-model="user.name" name="name" />
      </td>
      <td>
        <span ng-if="!user.isEdited">{{user.phone}}</span>
        <input type="text" ng-if="user.isEdited" required ng-model="user.phone" name="phone" />
      </td>
      <td>
        <span ng-if="!user.isEdited">{{user.dob | date}}</span>
        <input type="text" ng-if="user.isEdited" required ng-model="user.dob" name="dob" /> </td>
      </td>
      <td>
        <div ng-if="!user.isEdited">
          <button type="button" ng-click="$ctrl.startEditing(user)">Edit</button>
          <button type="button" ng-click="$ctrl.deleteUser(user)">Delete</button>
        </div>
        <div ng-if="user.isEdited">
          <button type="button" ng-click="$ctrl.editUser(user)">Save</button>
        </div>
      </td>
    </tr>
    <tr class="bordered">
      <td colspan="4">Create new user:</td>
    </tr>
    <tr>
      <td>
        <input type="text" required ng-model="$ctrl.newUser.name" name="name" placeholder="user name" />
      </td>
      <td>
        <input type="tel" required ng-model="$ctrl.newUser.phone" name="phone" placeholder="user phone"/> </td>
      <td>
        <input type="date" required ng-model="$ctrl.newUser.dob" name="dob" /> </td>
      <td>
        <input type="submit">
      </td>
    </tr>
    <tr class="bordered">
      <td>Average Age:</td>
      <td colspan="3">{{$ctrl.averageAge()}}</td>
    </tr>
  </table>
</form>
